@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BOOK&FILM Project</h1>
    <p class="lead"> Este proyecto tiene como finalidad la creación de una colección personal de Libros y Películas para el usuario.</p>
  
</div>

<div class="row">
      
    <div class="col-md-4" style="float:left">

        <!--LINK TITULOS-->
        <h2>Libros</h2>
        <p>En esta sección tendrás todos los libros favoritos, leidos y pendientes, así como las películas asociadas a ellos.</p>
       
    </div>
    <div class="col-md-4" style="float:left">
        <h2>Películas</h2>
        <p>En esta sección tendrás todas tus películas favoritas, vistas y pendientes, así como los libros asociados a ellas.</p>
   
    </div>
</div>