
@{
    ViewBag.Title = "Principal";

}

   <!--VISTA DE LA VENTANA PRINCIPAL-->

<html>

    <head>
        <link rel="Stylesheet" href="~/Estilos/StyleSheet1.css"/>
    </head>

    <body>

        <h1>BOOK & FILM PROJECT</h1>
        <hr />

        <div>
            <h2>Aquí encontrarás un recurso muy útil para almacenar tus Libros y Películas favoritas</h2>

        </div>

        <!--IMG que no lleva a la VISTA LIBROS-->

        <div style="float:left">
            <a href="~/Libro/Index"><img src="~/Estilos/librostumblr.jpg" /></a>
            <p class="title">LIBROS</p>

        </div>

        <!--IMG que no lleva a la VISTA PELÍCULAS-->

        <div style="float:right">
            <a href="~/Pelicula/Index"><img src="~/Estilos/pelitumblr.jpg" /></a>
            <p class="title">PELÍCULAS</p>

        </div>


    </body>

    </html>
